---
import { getCollection } from 'astro:content'
import BlogItem from '../../components/BlogItem.astro'
import { SITE_TITLE } from '../../consts'
import Layout from '../../layouts/Layout.astro'

const posts = await getCollection('blog')
const nonHiddenPosts = posts.filter(post => !post.data.hidden && !post.id.includes('/en'))
nonHiddenPosts.sort((a, b) => Date.parse(b.data.publishedAt) - Date.parse(a.data.publishedAt))
---

<Layout title={SITE_TITLE}>
  <svg class="hidden" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
    <symbol id="external-link-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path>
    </symbol>
  </svg>
  <h1 class="mb-6 text-4xl font-bold tracking-tight sm:mb-10 sm:text-5xl">Blog</h1>
  <ul class="space-y-8">
    {
      nonHiddenPosts.map(post => (
        <li>
          <BlogItem url={`/blog/${post.id}`} {...post.data} />
        </li>
      ))
    }
  </ul>
</Layout>
