---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Not Found">
  <div class="m-auto flex max-w-2xl flex-col items-center justify-center">
    <h1
      class="mb-4 text-8xl font-bold tracking-tight text-black md:text-9xl dark:text-white"
    >
      418
    </h1>
    <h2 class="mb-4 text-5xl font-bold tracking-tight md:text-6xl">
      I'm a Teapot
    </h2>
    <p class="mb-8 text-slate-700 dark:text-slate-300">
      Actually, page haven't been found but error 404 is too boring.
    </p>
    <a
      href="/"
      class="mx-auto w-64 rounded-md bg-slate-100 p-2 text-center font-bold sm:p-4 dark:bg-slate-900"
    >
      Return Home</a
    >
  </div>
</Layout>
