---
import ActiveLink from '../components/ActiveLink.astro'
import type { Props as HeadProps } from '../components/BaseHead.astro'
import BaseHead from '../components/BaseHead.astro'
import { SOCIAL_LINK } from '../consts'

const { title, description } = Astro.props as HeadProps

const { pathname } = Astro.url
const isHome = pathname === '/'
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class={`preload-transitions bg-white text-slate-800 dark:text-slate-200 dark:bg-neutral-900 min-w-[20rem]
	antialiased${isHome ? ' flex items-center' : ''}`}
  >
    <div class={`w-full m-auto p-6 flex-grow flex flex-col max-w-3xl lg:max-w-4xl ${isHome ? 'h-full max-h-[44rem]' : 'min-h-full'}`}>
      <header>
        <a href="#skip" class="sr-only focus:not-sr-only"> Skip to content</a>
        <nav class="text-sm sm:text-base">
          <ul class="flex w-full space-x-4">
            <li class="nav-link">
              <ActiveLink href="/blog">Blog</ActiveLink>
            </li>
            <li class="nav-link">
              <a
                href="https://kakekane.com"
                target="_blank"
                rel="noreferrer noopener"
                class={`inline-block text-slate-500 dark:text-slate-300 transition-colors duration-200 border-b dark:border-slate-700 hover:border-current`}
              >
                Works
              </a>
            </li>
            <li class="nav-link">
              <ActiveLink href="/about">About</ActiveLink>
            </li>
            {
              !isHome && (
                <li class="nav-link">
                  <ActiveLink href="/">Home</ActiveLink>
                </li>
              )
            }
          </ul>
        </nav>
      </header>
      <main id="skip" class="flex flex-grow flex-col py-12">
        <slot />
      </main>
      <footer class="mb-4 flex flex-col justify-between text-sm sm:flex-row sm:items-end sm:text-base">
        <ul class="mr-6 flex max-w-full flex-shrink-0 flex-wrap">
          {
            SOCIAL_LINK.map(([label, href]) => (
              <li class="mt-2 mr-4">
                <a
                  href={href}
                  target="_blank"
                  rel="noreferrer"
                  class="link-emoji relative inline-block border-b text-slate-500 transition-colors duration-200 hover:border-current dark:border-slate-700 dark:text-slate-300"
                >
                  {label}
                </a>
              </li>
            ))
          }
        </ul>
        <section class="-m-1 mt-4 mr-auto max-w-full overflow-hidden p-1 sm:mt-0 sm:mr-0"></section>
      </footer>
    </div>
    <script is:inline>
      setTimeout(() => {
        if (typeof window !== 'undefined' && document.body.classList.contains('preload-transitions')) {
          document.body.classList.remove('preload-transitions')
        }
      }, 0)
    </script>
  </body>
</html>
